In [14]:
import os
import requests
import pandas as pd
import subprocess
import pathlib

In [35]:
subprocess.run("curl -o /tmp/events.json -L http://192.168.0.231:5000/events", shell=True, capture_output=True)
os.listdir("/tmp")

['pyright-9194-bRZVFKyDDXOO',
 'events.json',
 'systemd-private-230c20c00c5f41d6a6fa870f26ddd3e6-ModemManager.service-mueEve',
 'systemd-private-230c20c00c5f41d6a6fa870f26ddd3e6-systemd-resolved.service-Rg8Xqx',
 'code-a48f0085-4aa8-414d-b363-f95816f3df10',
 'python-languageserver-cancellation',
 'systemd-private-230c20c00c5f41d6a6fa870f26ddd3e6-systemd-logind.service-YGThqr',
 '.iprt-localipc-DRMIpcServer',
 '.stats.csv.swp',
 '.X11-unix',
 'stats.csv',
 '.font-unix',
 'snap-private-tmp',
 '.XIM-unix',
 'pyright-5964-Zic33dBaGHy5',
 'vagrant-shell',
 '.ICE-unix',
 'systemd-private-230c20c00c5f41d6a6fa870f26ddd3e6-polkit.service-8ZOGD9']

In [36]:
input_path = "/tmp/events.json"
output_path = "/tmp/stats.csv"

In [37]:
events = pd.read_json(input_path)
events

                           date             user
0     2018-12-06 00:00:00+00:00   17.149.126.122
1     2018-12-06 00:00:00+00:00   206.254.44.244
2     2018-12-06 00:00:00+00:00    108.49.147.12
3     2018-12-06 00:00:00+00:00    172.211.72.11
4     2018-12-06 00:00:00+00:00    172.211.72.11
...                         ...              ...
31977 2019-01-04 00:00:00+00:00   90.191.242.202
31978 2019-01-04 00:00:00+00:00    104.33.167.13
31979 2019-01-04 00:00:00+00:00  218.141.141.249
31980 2019-01-04 00:00:00+00:00      181.77.7.69
31981 2019-01-04 00:00:00+00:00   90.191.242.202

[31982 rows x 2 columns]

In [38]:
stats = events.groupby(["date", "user"]).size().reset_index(name="total")

In [39]:
pathlib.Path(output_path).parent.mkdir(exist_ok=True)

In [40]:
stats.to_csv(output_path, index=False)

In [41]:
stats

                          date             user  total
0    2018-12-06 00:00:00+00:00    100.45.97.201     27
1    2018-12-06 00:00:00+00:00     101.22.58.73     22
2    2018-12-06 00:00:00+00:00    101.50.153.45     22
3    2018-12-06 00:00:00+00:00  103.108.226.163     31
4    2018-12-06 00:00:00+00:00    108.49.147.12     24
...                        ...              ...    ...
2175 2019-01-04 00:00:00+00:00    92.164.173.92     14
2176 2019-01-04 00:00:00+00:00     94.48.16.104     15
2177 2019-01-04 00:00:00+00:00     94.73.71.128     18
2178 2019-01-04 00:00:00+00:00    96.14.240.112     14
2179 2019-01-04 00:00:00+00:00    99.219.113.60     19

[2180 rows x 3 columns]

In [42]:
stats['total'].sum()

np.int64(31982)